* {
	box-sizing: border-box;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, sans-serif;
}

input,
button {
	font: inherit;
}

h1 {
	font-size: 3.5rem;
}

.book {
	border: 3px solid black;
}
